@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800;900&display=swap');

*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to bottom right, #d3c7f0, #f1f0f5,#ffffff );
    background-repeat: no-repeat;

}

.Nav-Container{
    padding: 80px 157px 0px 168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo-Container p{
    font-size: 24px;
    color: #4B42E5;
    font-weight: 900;
}
.Sub-Container a{
    padding-right: 20px;
    text-decoration: none;
    color: #414141;
    font-size: 18px;
    opacity: 1;
    font-weight: 600;
}

@media(max-width: 1000px){
    .Sub-Container a{
        font-size: 16px;
    }
}

.Sub-Container button{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color:#4B42E5;
    color:#ffffff;
    font-size: 18px;
    font-weight: 600;
}

.Section-Container{
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: initial;
}

.Content{
    padding-left:159px;
    width: 50%;
    margin-top:70px;
}

@media(max-width: 900px){
    .Content .Bold-text{
        font-size: 60px;
    }
}

@media(max-width: 900px){
    .Section-Container{
        display: block;
    }
}

.Bold-text p{
    margin: 0px;
    font-size: 70px;
    font-weight: 900;
    color: #313131;
    opacity: 1;
}

.Thin-text p{
    margin-top: 20px;
    margin:0px;
    font-size: 18px;
    font-weight: 600;
    color: #313131;
    opacity: 1;
}

.button button{
    margin-top:20px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color:#4B42E5;
    color:#ffffff;
    font-size: 18px;
    font-weight: 600;
}
.Image{
    position: relative;
    padding-right: 15px;
    width: 50%;
}
.Image .man{
    position: absolute;
    width: 492px;
    height: 649px;
}

.Image .Poly-img{
    position: absolute;
    top: 175px;
    left: 57px;
    width: 94px;
    height: 91px;
}

.Image .Ell2{
    position: absolute;
    right: 200px;
    top: 147px;
    width: 16px;
    height: 16px;
}

.Image .Ell1{
    position: absolute;
    right: 57px;
    bottom: -158px;
    z-index: -1;
    width: 106px;
    height: 106px;

}
.Main-Card{
    position:relative;
    margin-top: 200px;
    padding-left: 109px;
}
.Cards-Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}
@media (max-width:1037px){
    .Cards-Container{
        justify-content: flex-start;
    }
}

@media(max-width:894px){
    .Image .man{
        position: relative;
        width: 492px;
        height: 649px;
    }
}

@media(max-width:650px){
    .card1{
        padding:40px 0px 0px 23px;
        width: 319px;
        height: 200px;
        background-color: #ffffff;
    }
    .card2{
        padding:40px 0px 0px 23px;
        width: 319px;
        height: 200px;
        background-color: #ffffff;
    }
    .card3{
        padding:40px 0px 0px 23px;
        width: 319px;
        height: 200px;
        background-color: #ffffff;
    }
}
.card1{
    padding:80px 0px 0px 56px;
    width: 419px;
    height: 300px;
    background-color: #ffffff;
}
.Text1{
    margin-top: 20px;
}
.Text2{
    margin-top: 20px;
}
.Text1 p{
    font-size: 24px;
    font-weight: 800;
    margin: 0px;
}
.Text2 p{
    font-size: 18px;
    font-weight: 600;
    color: #909090;
    margin: 0px;
}
.card2{
    padding:80px 0px 0px 56px;
    width: 419px;
    height: 300px;
    background-color: #ffffff;
    opacity: 1px;
}
.Text12{
    margin-top: 20px;
}
.Text22{
    margin-top: 20px;
}
.Text12 p{
    font-size: 24px;
    font-weight: 800;
    margin: 0px;
}
.Text22 p{
    font-size: 18px;
    font-weight: 600;
    color: #909090;
    margin: 0px;
}
.card3{
    padding:80px 0px 0px 56px;
    width: 419px;
    height: 300px;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom right, #4B42E5, #8742E5);
    background-repeat: no-repeat;
}
.Text13{
    margin-top: 20px;
}
.Text23{
    margin-top: 20px;
}
.Text13 p{
    font-size: 24px;
    font-weight: 800;
    margin: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.Text23 p{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 0px;
    font-family: Raleway, SemiBold;
    opacity: 0.7;
}
.Poly{
    margin-left: -82px;
    padding:0px;
}

.Poly img{
    width: 160px;
    height: 155px;
}

.End-Container{
    padding-left:109px;
    padding-right:157px;
}

.Last-Container{
    display:flex;
    justify-content: space-between;
    /* align-items: center; */
}

.Inner-Container{
    padding: 79px 0px 0px 105px;
    position: relative;
    border-radius: 100px 100px 0px 0px;
    max-width: 1000px;
    margin:auto;
    height: 300px;
    margin:auto;
    background-image: linear-gradient(to bottom right, #4B42E5, #8742E5);
}

.Inner-Container p{
    margin: 0px;
    font-size: 70px;
    font-weight: 900;
    font-family: Raleway, Black;
    color:#FFFFFF;
}

@media(max-width: 1036px){
    .Inner-Container {
        text-align:center;
    }
    .Inner-Container p{
        font-size: 60px;
    }
}

@media(max-width: 969px){
    .Inner-Container {
        padding: 20px;
        text-align:center;
    }
    .Inner-Container p{
        font-size: 50px;
    }

}

@media(max-width: 498px){
    .Inner-Container {
        padding: 20px;
        text-align:center;
    }
    .Inner-Container p{
        font-size: 30px;
    }

}


img.white-circle {
    position: absolute;
    right: 0;
    top: 226px;
}

img.Half-circle {
    position: absolute;
    right: -51px;
    z-index: -1;
}

.man::after{
    content: " ";
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    background-image: url(Ellipse\ 2.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.man::before{
    content: " ";
    display: block;
    position: absolute;
    background-image: url(Polygon\ 3.png);
    top: 46%;
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
}

.man{
    position: relative;
}